#primaryButton {
    -fx-background-color: #dbe21c;
    -fx-background-radius: 5,5,5,5;
    -fx-text-fill: #fff;
    -fx-border-insets: 5px;
}

#TeamButton {
    -fx-background-color: #1ce21c;
    -fx-background-radius: 5,5,5,5;
    -fx-text-fill: #fff;
    -fx-border-insets: 5px;
}

#SyncButton {
    -fx-background-color: #1c61e2;
    -fx-background-radius: 5,5,5,5;
    -fx-text-fill: #fff;
    -fx-border-insets: 5px;
}

#primaryButton:hover {
    -fx-background-color: #f8ff21;
}

#TeamButton:hover {
    -fx-background-color: #22ff22;
}

#SyncButton:hover {
    -fx-background-color: #1e6cfe;
}

#primaryButton:pressed {
    -fx-background-color: #828610;
}

#TeamButton:pressed {
    -fx-background-color: #108810;
}

#SyncButton:pressed {
    -fx-background-color: #123a84;
}

#scroll {
    -fx-border-color: white;
    -fx-background-color: white;
}

#main, #screen {
    -fx-background-color: white;
}

.col {
    -fx-min-width: 0%;
    -fx-background-color: #dbe21c;
}

.group {
    -fx-border-color: black ;
    -fx-border-width: 1;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 5 5 5 5;
    -fx-margin: 2 2 2 2;
    -fx-border-insets: 5px;
}